@model BookShop.ViewModels.Books.DetailBookViewModel
@using static BookShop.Extensions.StringExtensions;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<div class="navigation">
    <div class="container p0">
        <ol class="breadcrumb b0 m0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">@Model.CategoryName</a></li>
            <li class="breadcrumb-item active">@Model.Title</li>
        </ol>
    </div>
</div>
<div class="container pv++">
    <div class="row item">
        <div class="col-md-8">
            <div class="row" flex-container>
                <div class="col-md-6 item-preview">
                    <img src="~/images/books/@Model.Image" alt="" class="img-responsive">
                </div>
                <div class="col-md-6 item-detail">
                    <div class="item--card z-depth5" flex-container="column">
                        <div class="item__title pv+">
                            <h1 class="title">@Model.Title</h1>
                        </div>
                        <div class="item__detail" flex-item>
                            <div class="item__excerpt">
                                @Html.Raw(Model.Description.Truncate(500))
                            </div>
                            <div class="item__price">

                                <span class="price--new">@(Model.PriceFormatted == 0 ? "Liên hệ" : Model.PriceFormatted.ToString("N0") + "(VND)" )</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





