@model IEnumerable<BookShop.ViewModels.Books.BookIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="float-right pb-2">
    <a class="btn btn-primary" href="@Url.Action("CreateOrUpdate","Books", new {Area = "Admin"})">
        <i class="fas fa-plus"></i>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
     
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceFormatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("CreateOrUpdate","Books", new {Area = "Admin",id = item.Id })" class="btn btn-warning btn-sm margin-right">
                            <i class="fas fa-edit"></i><span class="hidden-xs"></span>
                        </a>
                        <a href="@Url.Action("Delete","Books", new {Area = "Admin",id = item.Id })" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i><span class="hidden-xs"></span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
