@model IEnumerable<BookShop.ViewModels.Categories.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<div class="float-right pb-2">
    <a class="btn btn-primary" href="@Url.Action("CreateOrUpdate","Categories", new {Area = "Admin"})">
        <i class="fas fa-plus"></i>
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>

                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("CreateOrUpdate","Categories", new {Area = "Admin",id = item.Id })" class="btn btn-warning btn-sm margin-right">
                            <i class="fas fa-edit"></i><span class="hidden-xs"></span>
                        </a>
                        <a href="@Url.Action("Delete","Categories", new {Area = "Admin",id = item.Id })" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i><span class="hidden-xs"></span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
