@model IEnumerable<BookShop.Models.Category>
@{
    ViewData["Title"] = "Index";

    var Models = Model;
}

<h1>List category</h1>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-update" data-url="@Url.Action("CreateOrUpdate",new {Id= 0 })">
    Add contact
</button>
@*<a asp-action="Create" asp-controller="Categories" class="btn btn-primary fa-pull-right mb-2" ><i class="fas fa-plus" ></i></a>*@
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Models)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <button class="btn btn-info" data-toggle="modal" data-target="#add-update" data-url="@Url.Action("CreateOrUpdate",new {Id= item.Id })"><i class="fa fa-marker fa-lg"></i></button>

                    <button class="btn btn-info" data-toggle="modal" data-target="#delete-category" data-url="@Url.Action("Delete",new {Id= item.Id })"><i class="fa fa-trash-alt fa-lg"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>


